
<%- include('../partial/header.ejs')%>
    <main>
        <form method = "POST"  enctype="multipart/form-data"  action = "/events/<%= event.id%>?_method=PUT" class="new-form">
        
            <label for="category"> Category </label> 
            <select id="category" name="category">
                <option value="selecteCategory" >Select Category--</option>

                <option value="Sport" <% if(event.category==='Sport') { %> selected <% } %> > Sport</option>
                <option value="Education"<% if(event.category==='Education') { %> selected <% } %> >Education</option>
                <option value="Voluntary"<% if(event.category==='Voluntary') { %> selected <% } %> >Voluntary</option>
                <option value="Catering" <% if(event.category==='Catering') { %> selected <% } %> >Catering</option>
                <option value="School Lunch" <% if(event.category==='School Lunch') { %> selected <% } %> >School Lunch</option>
              </select><br><br>
        <label for="title"> Title</label> 
        <input type="text" id="title" value="<%= event.title%>" name="title" required=""> <br><br>
        <label for="hostName"> Host</label> 
        <input type="text" id="hostName" value="<%= event.hostName%>" name="hostName" required=""> <br><br>
        <label for="details"> Details</label> 
        <input type="text" id="details" value="<%= event.details%>" name="details" required=""> <br><br>
        <label for="location"> Where</label> 
        <input type="text" id="location" value="<%= event.location%>" name="location" required=""> <br><br>
        <label for="startDateTime"> Start</label> 
        <input type="datetime-local" id="startDateTime" value="<%= event.startDateTime%>" name="startDateTime" required=""> <br><br>
        <label for="endDateTime"> End</label> 
        <input type="datetime-local" id="endDateTime" name="endDateTime" value="<%= event.endDateTime%>" require=""> <br><br>
        <label for="image">Image</label>
        <input type="file" id="image" name="image" value="<%= event.image%>"  required=""><br><br>
        <input type="submit" value="Submit" class="text"><br><br>
         </form>
    </main>
    <%- include('../partial/footer.ejs')%>